In [ ]:
                                Ahmedabad, India Real estate Case Study 
                                                
                             ''''One of India's largest populated cities''''

In [ ]:
''''Questions - 
    
    I :    Out of our data set, which property type is listed the most?
    
    II :    How many units offer 4 bedrooms?
    
    III :    Which are there more of in Ahmedabad - Furnished, Semi-furnished or Unfurnished properties available?
    
    IV :    How many studio apartments are available for lease?
    
    V :    Which seller type has the most area in terms of square footage?
    
    VI :    How many property types in total are listed in the city of Maninagar?
    
    VII :    Which properties cost the most? Name the top five.

In [ ]:
============================================================================================================================================

In [ ]:
import pandas as pd

In [ ]:
============================================================================================================================================

In [24]:
df = pd.read_csv('Ahmedabad_rent.csv')
df.head()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,OWNER,2,BHK,Apartment,Bodakdev,"20,000",1450,Furnished,2 bathrooms
1,OWNER,1,RK,Studio Apartment,CG Road,"7,350",210,Semi-Furnished,1 bathrooms
2,OWNER,3,BHK,Apartment,Jodhpur,"22,000",1900,Unfurnished,3 bathrooms
3,OWNER,2,BHK,Independent House,Sanand,"13,000",1285,Semi-Furnished,2 bathrooms
4,OWNER,2,BHK,Independent House,Navrangpura,"18,000",1600,Furnished,2 bathrooms

In [28]:
print(df)

      seller_type  bedroom layout_type      property_type  \
0           OWNER        2         BHK          Apartment
1           OWNER        1          RK   Studio Apartment
2           OWNER        3         BHK          Apartment
3           OWNER        2         BHK  Independent House
4           OWNER        2         BHK  Independent House
...           ...      ...         ...                ...
18535       OWNER        3         BHK          Apartment
18536       OWNER        4         BHK              Villa
18537       OWNER        2         BHK          Apartment
18538       OWNER        3         BHK          Apartment
18539       OWNER        1         BHK          Apartment

                                     locality   price  area    furnish_type  \
0                                    Bodakdev  20,000  1450       Furnished
1                                     CG Road   7,350   210  Semi-Furnished
2                                     Jodhpur  22,000  1900     Unfurnished
3                                      Sanand  13,000  1285  Semi-Furnished
4                                 Navrangpura  18,000  1600       Furnished
...                                       ...     ...   ...             ...
18535  Near Vaishno Devi Circle On SG Highway  16,000  1427     Unfurnished
18536                                Sanathal  26,000  3060  Semi-Furnished
18537                                  Motera   8,200   600     Unfurnished
18538                                 shyamal  30,000  2500       Furnished
18539                                 Makarba  11,000   750  Semi-Furnished

          bathroom
0      2 bathrooms
1      1 bathrooms
2      3 bathrooms
3      2 bathrooms
4      2 bathrooms
...            ...
18535  2 bathrooms
18536  5 bathrooms
18537  2 bathrooms
18538  3 bathrooms
18539  1 bathrooms

[18540 rows x 9 columns]

In [27]:
df.shape #This data set has 18,540 ROWS OF VALUES AND 9 COLUMNS

(18540, 9)

In [ ]:
==============================================================================================================================

In [ ]:
# QUESTION (1) : Out of our data set, which property type is listed the most?

In [31]:
df.property_type.value_counts()

Apartment            16840
Independent House      725
Villa                  647
Studio Apartment       175
Independent Floor      140
Penthouse               13
Name: property_type, dtype: int64

In [ ]:
#  Apartments are the property type thats listed most frequently .

In [ ]:
==============================================================================================================================

In [ ]:
# QUESTION (II) : How many units offer 4 bedrooms?

In [33]:
bedroom = df.bedroom.value_counts()
bedroom

3     7980
2     7428
4     1670
1     1308
5      132
6       14
7        3
10       2
8        2
15       1
Name: bedroom, dtype: int64

In [ ]:
# Approximately 1670 units offer 4 bedrooms.

In [ ]:
==============================================================================================================================

In [ ]:
# Question III : Which are there more of in Ahmedabad - Furnished, Semi-furnished or Unfurnished properties available?

In [35]:
style = df.furnish_type.value_counts()
style

Semi-Furnished    8042
Furnished         6652
Unfurnished       3846
Name: furnish_type, dtype: int64

In [ ]:
# Semi-furnished with the 8042 units.

In [ ]:
# Ahmedabad Has more semi-furnished units then furnished and unfurnished.

In [ ]:
==============================================================================================================================

In [ ]:
# Question IV : How many studio apartments are available for lease?

In [37]:
lease = df.property_type.value_counts().head()
lease

Apartment            16840
Independent House      725
Villa                  647
Studio Apartment       175
Independent Floor      140
Name: property_type, dtype: int64

In [ ]:
# There are exactly 175 studio apartments available for rent

In [ ]:
==============================================================================================================================

In [ ]:
# Question V : Which seller type has the most area in terms of square footage?

In [70]:
sqfeet = df.groupby(['seller_type', 'area']).sum().tail()

sqfeet

                  bedroom
seller_type area
OWNER       3500       19
            4000        7
            4068        4
            5500        5
            6732       10

In [ ]:
# The seller type with the most area in SQ footage is an OWNER instead of an AGENT

In [ ]:
==============================================================================================================================

In [ ]:
# Question VI : How many property types in total are listed in the city of Maninagar?

In [71]:
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,OWNER,2,BHK,Apartment,Bodakdev,"20,000",1450,Furnished,2 bathrooms
1,OWNER,1,RK,Studio Apartment,CG Road,"7,350",210,Semi-Furnished,1 bathrooms
2,OWNER,3,BHK,Apartment,Jodhpur,"22,000",1900,Unfurnished,3 bathrooms
3,OWNER,2,BHK,Independent House,Sanand,"13,000",1285,Semi-Furnished,2 bathrooms
4,OWNER,2,BHK,Independent House,Navrangpura,"18,000",1600,Furnished,2 bathrooms
...,...,...,...,...,...,...,...,...,...
18535,OWNER,3,BHK,Apartment,Near Vaishno Devi Circle On SG Highway,"16,000",1427,Unfurnished,2 bathrooms
18536,OWNER,4,BHK,Villa,Sanathal,"26,000",3060,Semi-Furnished,5 bathrooms
18537,OWNER,2,BHK,Apartment,Motera,"8,200",600,Unfurnished,2 bathrooms
18538,OWNER,3,BHK,Apartment,shyamal,"30,000",2500,Furnished,3 bathrooms
18539,OWNER,1,BHK,Apartment,Makarba,"11,000",750,Semi-Furnished,1 bathrooms

In [ ]:
==============================================================================================================================

In [ ]:
# Question VII : Which properties cost the most? List their indices, top five.

In [49]:
df['price'].sort_values().tail()

5829     95,001
6315     96,000
5953     97,000
6210     99,000
17352    99,000
Name: price, dtype: object

In [ ]:
#  The range of prices start and and from $95,000 to 99,000

In [ ]:
==============================================================================================================================